0 - Main Orchestrator.json
{
  "name": "0 - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fce3a9e3-7be9-42bf-a032-4fb64c26bf55",
              "leftValue": "={{ $json.error }}",
              "rightValue": "\"Aucun ticket Jira à analyser\"",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        128
      ],
      "id": "e4488a8f-8afa-4080-8348-9a6b76c919a0",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "=ERROR : {{ $now }} {{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        192,
        336
      ],
      "id": "3a67c85e-f2a1-43c0-bdd5-261ae2e5a0aa",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u5m6QsBJ3NkBHDqc",
          "mode": "list",
          "cachedResultUrl": "/workflow/u5m6QsBJ3NkBHDqc",
          "cachedResultName": "Logger Simplifié - Suivi Agent IA - exemple eleves"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "={{ $workflow.name }}",
            "execution_id": "={{ $workflow.id }}",
            "status": "OK",
            "error_message": "N/A"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        64
      ],
      "id": "8c63e44c-a531-4abd-990a-1742b6002dda",
      "name": "Logger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        128
      ],
      "id": "fd6785d6-6d1b-43eb-b400-834c453fc444",
      "name": "Weekly trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        336
      ],
      "id": "6447c651-f96c-42a6-81e2-a208736333e5",
      "name": "Manual trigger - debug"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ST9ZGuO8MC2qGA3W",
          "mode": "list",
          "cachedResultUrl": "/workflow/ST9ZGuO8MC2qGA3W",
          "cachedResultName": "Fil rouge - 1 - Récupération tickets jira à analyser"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        128
      ],
      "id": "75f17b47-98e6-4579-bd90-63531ad59e9c",
      "name": "Subworkflow - Fetch Jira Tickets",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9z52AgH9KOOWepdF",
          "mode": "list",
          "cachedResultUrl": "/workflow/9z52AgH9KOOWepdF",
          "cachedResultName": "Fil rouge - 2 - Vérif si fiche de co, ajout tag si nécessaire puis Identification 3 cas similaires à traiter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        256,
        112
      ],
      "id": "bf39c501-d848-485f-92e2-86f2e1505cdc",
      "name": "Sub-Workflow - Check KB Articles"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47475172-b71e-477b-b703-b9e72c9ba9b4",
              "leftValue": "={{ $json.action }}",
              "rightValue": "creer_fiche",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        112
      ],
      "id": "03fb13cc-fc91-4005-9a3f-85bce6ab9a8b",
      "name": "Should Create KB Article?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3IuH6XmDhmX6yFhd",
          "mode": "list",
          "cachedResultUrl": "/workflow/3IuH6XmDhmX6yFhd",
          "cachedResultName": "Fil rouge - 3 - Rédaction page dans base de connaissances"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        64
      ],
      "id": "a2eecae3-c5cb-41ee-af7b-39d5b6d8fc9b",
      "name": "Sub-Workflow - Write KB Article"
    },
    {
      "parameters": {
        "sendTo": "user@mail.com",
        "subject": "Nouvelle fiche de connaissance créée",
        "message": "=Chers Knowledge Managers,  La fiche ' {{ $json.title }} ' a été publiée sur Confluence et crée automatiquement par l'IA. Nous vous invitons à vérifier son contenu.  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        64
      ],
      "id": "ee579d9d-4de1-4358-9670-f8792d10cd25",
      "name": "Send Email Notification",
      "webhookId": "50b98b20-6c38-4efe-81e7-4e5686c6e59c",
      "credentials": {
        "gmailOAuth2": {
          "id": "bj5taiwDs0zFfLGW",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Sub-Workflow - Check KB Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly trigger": {
      "main": [
        [
          {
            "node": "Subworkflow - Fetch Jira Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger - debug": {
      "main": [
        [
          {
            "node": "Subworkflow - Fetch Jira Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subworkflow - Fetch Jira Tickets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub-Workflow - Check KB Articles": {
      "main": [
        [
          {
            "node": "Should Create KB Article?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create KB Article?": {
      "main": [
        [
          {
            "node": "Sub-Workflow - Write KB Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub-Workflow - Write KB Article": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "7LL8KWQUgRB9kWE0",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "feeaf7e7-62d6-4019-aa55-4143f5164271",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dcbb0182b61858dbd695c22b0a274e7d6f39445ddef0dd7e4d0304dcd947e9e"
  },
  "nodeGroups": [],
  "id": "lg6uiDiVeC45km12",
  "tags": []
}
