3 - Write KB Article to Confluence.json
{
  "name": "3 - Write KB Article to Confluence",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        0
      ],
      "id": "e082b965-37b3-4605-bdb5-167b638242ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        160
      ],
      "id": "57d5cef6-0f47-4187-9a5c-52f96c0fe402",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N4wpXRvHljVHUMJc",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u5m6QsBJ3NkBHDqc",
          "mode": "list",
          "cachedResultUrl": "/workflow/u5m6QsBJ3NkBHDqc",
          "cachedResultName": "Logger Simplifié - Suivi Agent IA - exemple eleves"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "={{ $workflow.name }}",
            "execution_id": "={{ $workflow.id }}",
            "status": "OK",
            "error_message": "N/A"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        0
      ],
      "id": "12532dc7-46d4-44b0-a235-fc2b13830825",
      "name": "Logger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecbae8e7-3b39-4eac-8e88-3b8acbd9ba48",
              "name": "confluence_base_url",
              "value": "https://mainiaproject.atlassian.net/",
              "type": "string"
            },
            {
              "id": "22dd2066-b111-49ec-9de4-a9c2a58cc681",
              "name": "template_id",
              "value": "1212417",
              "type": "string"
            },
            {
              "id": "e2799261-9548-412e-ba8f-7e09226bd2b2",
              "name": "target_space_key",
              "value": "BDC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "52c3f16a-eab5-44d8-a25b-d669f5c03bdc",
      "name": "Set Confluence Config"
    },
    {
      "parameters": {
        "url": "={{ $json.confluence_base_url }}/wiki/rest/api/template/{{ $json.template_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "15d0cda6-0288-4da8-9c54-9853c6e40deb",
      "name": "Confluence - Fetch Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "qlf3TMwwc9cYeM1c",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Template à utiliser pour la génération de contenu :  {{ $json.body.storage.value }}",
        "messages": {
          "messageValues": [
            {
              "message": "==Tu es Knowledge Manager IT.\n\nVoici les données de tickets de support réels qui traitent tous de la même problématique :\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.tickets_sources, null, 2) }}\n\nProblématique identifiée : {{ $('When Executed by Another Workflow').first().json.problematique }}\n\nVoici le template de page Confluence à respecter :\n{{ $json.body.storage.value }}\n\nTa mission : Rédige une fiche de connaissance réelle basée sur ces tickets en respectant l'organisation du template.\n\nRègles de sortie strictes :\n1. Format HTML : utilise <h2>, <ul>, <li>, <strong> etc., compatible Confluence.\n2. Pas de balise <h1> ni de titre libre au début.\n3. Supprime toutes les consignes de rédaction du template.\n4. Base-toi sur les tickets réels fournis pour rédiger le contenu : symptômes, causes, procédure de résolution.\n5. Ta réponse doit être UNIQUEMENT un objet JSON valide avec deux clés : \"titre\" et \"contenu_html\"."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        0
      ],
      "id": "25d3efe5-80ba-4dd1-be88-9ffa1fc352ef",
      "name": "LLM - Write KB Article"
    },
    {
      "parameters": {
        "jsCode": "let responseText = $input.first().json.text;\n\n// Nettoyage brutal des balises Markdown (```json et ```) si le modèle en a rajouté\nresponseText = responseText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n// Maintenant on peut parser en toute sécurité\nconst parsedData = JSON.parse(responseText);\n\nreturn [\n  {\n    json: {\n      titre_page: parsedData.titre,\n      contenu_page: parsedData.contenu_html\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "617105de-b405-4450-9fb9-a0df4a77782c",
      "name": "Parse LLM JSON Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Confluence Config').item.json.confluence_base_url }}wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"type\": \"page\",\n\"title\": $json.titre_page,\n\"space\": {\n\"key\": $('Set Confluence Config').item.json.target_space_key\n},\n\"body\": {\n\"storage\": {\n\"value\": $json.contenu_page,\n\"representation\": \"storage\"\n}\n}\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        0
      ],
      "id": "33d90447-a05d-431c-9605-4a10bd4f62c7",
      "name": "Confluence - Create KB Page",
      "credentials": {
        "httpBasicAuth": {
          "id": "ndAC4A6wR6LIBzhR",
          "name": "Unnamed credential 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Confluence Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM - Write KB Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Confluence Config": {
      "main": [
        [
          {
            "node": "Confluence - Fetch Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence - Fetch Template": {
      "main": [
        [
          {
            "node": "LLM - Write KB Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Write KB Article": {
      "main": [
        [
          {
            "node": "Parse LLM JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON Response": {
      "main": [
        [
          {
            "node": "Confluence - Create KB Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence - Create KB Page": {
      "main": [
        [
          {
            "node": "Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "7LL8KWQUgRB9kWE0",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "18b99ed9-78ab-44f8-92ef-af1d62482618",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dcbb0182b61858dbd695c22b0a274e7d6f39445ddef0dd7e4d0304dcd947e9e"
  },
  "nodeGroups": [],
  "id": "3IuH6XmDhmX6yFhd",
  "tags": []
}